<div class="container">
  <div class="row">
    <% if current_user %>
    <% else %>
      <div class="login col-md-4 col-md-offset-4 text-center">
        <h3>TOPページ</h3>
        <p>以下から選択してください。</p>
        <%= link_to 'ログイン', login_path, class: 'btn btn-primary btn-block btn-large' %>
        <%= link_to 'ユーザ登録', new_user_path, class: 'btn btn-default btn-block btn-large' %>
      </div>
    <% end %>
  </div>
</div>