html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: #EEEEEE;
}

.login {
  top: 200px;
  height: 200px;
  background-color: white;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}